<h5>Gubernur Sulawesi Selatan</h5>
<div class="side-photo">
  <%= image_tag("/assets/gub.jpg") %>
</div>
<h5>Informasi Kependudukan</h5>
<ul class="nav nav-list">
  <li><%= link_to "Jumlah Penduduk", "#" %></li>
  <li><%= link_to "Sebaran Penduduk", "#" %></li>
  <li><%= link_to "Klasifikasi Penduduk", "#" %></li>
</ul>
<h5>Informasi Agraria</h5>
<ul class="nav nav-list">
  <li><%= link_to "Klasifikasi Agraria", "#" %></li>
</ul>

