<h6>Gubernur Sulawesi Selatan</h6>
<div class="side-photo">
  <%= image_tag("/assets/gub.jpg") %><br>
  <h7>DR.H.SYAHRUL YASIN LIMPO,SH,M.Si,M.H</h7>
</div>
<h6>Tugas Dekonsentrasi & Pembantuan</h6>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to image_tag("/assets/arrow.png") + " [Item 1]", "#" %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " [Item 2]", "#" %></li>
</ul>
<h6>Informasi Kependudukan</h6>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to image_tag("/assets/arrow.png") + " Jumlah Penduduk", "#" %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " Sebaran Penduduk", "#" %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi Penduduk", "#" %></li>
</ul>
<h6>Link Terkait</h6>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to image_tag("/assets/arrow.png") + " APPSI", "http://www.appsi.or.id", :target => '_blank' %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " BPN", "http://www.bpn.go.id", :target => '_blank' %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " DEPDAGRI", "http://www.kemendagri.go.id", :target => '_blank' %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " APDESI", "#" %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " APKASI", "http://www.apkasi.or.id", :target => '_blank' %></li>
</ul>


