<h5>Gubernur Sulawesi Selatan</h5>
<div class="side-photo">
  <%= image_tag("/assets/gub.jpg") %>
</div>
<h5>Informasi Kependudukan</h5>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to image_tag("/assets/arrow.png") + " Jumlah Penduduk", "#" %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " Sebaran Penduduk", "#" %></li>
  <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi Penduduk", "#" %></li>
</ul>
<h5>Informasi Agraria</h5>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi Agraria", "#" %></li>
</ul>

