<%= link_to "Beranda", root_path, :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil Biro <b class="caret"></b></a>      
        <ul class="dropdown-menu">
          <li><%= link_to 'Sambutan Kepala Biro', root_path %></li>
          <li><%= link_to 'Visi dan Misi', root_path %></li>
          <li><%= link_to 'Tugas Pokok Biro', root_path %></li>
        </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sekretariat <b class="caret"></b></a>      
        <ul class="dropdown-menu">
          <li><%= link_to 'Struktur Organisasi', content_menu_t21_path %></li>
          <li><%= link_to 'Program Kerja & Strategi', root_path %></li>
        </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bidang Kerja <b class="caret"></b></a>      
        <ul class="dropdown-menu">
          <li><%= link_to 'Bagian Tata Usaha dan Kependudukan', root_path %></li>
          <li><%= link_to 'Bagian Ketataprajaan', root_path %></li>
          <li><%= link_to 'Bagian Bina Wilayah', root_path %></li>
          <li><%= link_to 'Bagian Bina Pemerintahan Desa', root_path %></li>
        </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galeri <b class="caret"></b></a>      
        <ul class="dropdown-menu">
          <li><%= link_to 'Foto', root_path %></li>
          <li><%= link_to 'Video', root_path %></li>
        </ul>
    </li>
    <li>
      <%= link_to 'Kontak Kami', '#' %>
    </li>

    <% if user_signed_in? %>    
      <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li>
      <%= link_to 'Login', new_user_session_path %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
      </li>
      <% if current_user.has_role? :admin %>
        <li>
        <%= link_to 'Admin', users_path %>
        </li>
      <% end %>
    <% else %>    
      <li>
      <%= link_to 'Sign up', new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</div>