<h6>Wakil Gubernur Sulawesi Selatan</h6>
  <div class="side-photo">
    <%= image_tag("/assets/wagub.jpg") %><br>
    <h7>IR.H.AGUS ARIFIN NU'MANG,MS</h7>
  </div>
<h6>Informasi Wilayah</h6>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " Data Batas Wilayah", "#" %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Data Toponimi", "#" %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Sejarah Pembentukan Wilayah", "#" %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Informasi Agraria", "#" %></li>
  </ul>
<h6>Informasi Desa/Kecamatan</h6>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " Kinerja Desa/Kecamatan", content_menu_r1_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Data Pejabat Desa/Kecamatan", content_menu_r1_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Kode dan Data Wilayah Administrasi", content_menu_r2_path %></li>
  </ul>