<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Biro Pemerintahan Umum | Sulawesi Selatan" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App Bpusulsel" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <div class="container">  
    <h3 class="muted">Biro Pemerintahan Umum Sulsel</h3>
      <header class="navbar">
        <nav class="navbar-inner">
          <div class="container">
            <%= render 'layouts/navigation' %>
          </div>
        </nav>
      </header>
    

    <header id="home-carousel" class="carousel slide">
      <div class="carousel-inner">
        <%= render 'layouts/carousel' %>
      </div>
      <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
    </header>
    
    <div id="main" role="main">
      <div class="container">
           <div class="row">
            
            <div class="span3">
              <div class="sidebar">
                <%= render 'layouts/leftbar' %>
              </div>
            </div>
            <div class="span6">
              <div class="contentbar">
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
            </div>
            <div class="span3">
              <div class="sidebar">
                <%= render 'layouts/rightbar' %>
              </div>
            </div>
            
          </div>
          <footer>            
          </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </div>
    <!--! javascript section -->
    <script>
        $(document).ready(function(){
          $('.carousel').carousel();
        }); // end document.ready
        $('.wysihtml5').each(function(i, elem) {
          $(elem).wysihtml5();
        });
      </script>
  </body>
</html>
